@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">It's Reading Time with TestDemo1</h1>
    <div class="shadow-lg p-4 mb-4 bg-white">
        <h2 class="h2">
            <a class="btn btn-primary" asp-area="" asp-controller="Book" asp-action="Index">View Inventory</a>
        </h2>
    </div>
    <div class="pt-4">
        <div class="shadow-lg p-4 mb-4 bg-white">
            <h2 class="h2">
                What's New -- Everything!
            </h2>
            <p class="lead"><b>@ViewData["Message"]</b> - It's all new!</p>
        </div>
    </div>
</div>
