@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Reading Time 3 - @ViewData["Title"]</h1>

<p>
    <b>Effective date:</b> @DateTime.Now.ToLongDateString()
</p>
<p>
    Thanks for entrusting GitHub Inc. (“GitHub”, “we”) with your time for this demo.<br />
    Holding on to your private information is a serious responsibility, and we want you to know how we're handling it.<br />
</p>
<p>
    @ViewData["Message"]
</p>
